.cardActions {
  display: flex;
  justify-content: center;
  gap: 1px;
}

.moreButton,
.deleteButton {
  padding: 5px;
  position: relative;
  width: 6.2em;
  height: 2em;
  font-size: 17px;
  border-radius: 0.4em;
}

.moreButton p {
  position: absolute;
  transition: 0.5s;
  color: #25d366;
}

.deleteButton p {
  position: absolute;
  transition: 0.5s;
  color: #e94e77;
}

.moreButton:hover {
  background-color: #25d366;
}

.deleteButton:hover {
  background-color: #e94e77;
  color: #fff;
}
